@model UserDataLib.Models.Operations

@{
    ViewBag.Title = "DeleteOperation";
}

@using UserDataLib.Services;
@using UserDataLib.Models;
@using ManagerApp.Models;

<h2>Details</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Group</h4>
        @Html.HiddenFor(model => model.Id)

        <b>
            @Html.DisplayNameFor(model => model.OperationsList)
        </b>
        <br>

        <div class="form-group">
            <div class="col-md-10">
                @{
                    Model.OperationsList = new GroupManager(new ManagerContext()).FindGroup(Model.Id).Operations.ToList();   
                }
                @Html.DropDownListFor(model => model.OperationId, new SelectList(Model.OperationsList, "id", "name"), "-- Please select an operation --")
                @Html.ValidationMessageFor(model => model.OperationId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Delete operation" class="btn btn-default" />
            </div>
        </div>

    </div>
}
    <p>
        @Html.ActionLink("Back", "Details", new { id = Model.Id })
    </p>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
