@model UserDataLib.Models.OperationGroup

@{
    ViewBag.Title = "Details";
}

@using UserDataLib.Services;
@using UserDataLib.Models;
@using DatabaseContext;

<h2>Details</h2>

<div>
    <h4>OperationGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operations)
        </dt>

        <dd>
            @{
                List<Operation> List = new GroupManager(new DBContext()).FindGroup(Model.Id).Operations.ToList();
                List<string> Names = new List<string>();
                foreach (Operation oper in List)
                {
                    Names.Add(oper.Name.ToString());
                }
                @Html.Name(String.Join(", ", Names));
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Name", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Add operation", "AddOperation", new { id = Model.Id }) |
    @*Html.ActionLink("Add User", "AddUser", new { id = Model.Id }) |*@
    @Html.ActionLink("Delete operation", "DeleteOperation", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
