@*using Microsoft.AspNet.Identity*@
@using UserDataLib.Services

@if (User.Identity.IsAuthenticated)
{
   
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.Name + "!", "Details", "User",   new { id = Session["userId"] }, FormMethod.Post)
        </li>
        <li>@Html.ActionLink("Sign Out", "Logout", "User")</li>
    </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Create New", "Create", "User")</li>
        <li>@Html.ActionLink("Log in", "Login", "User")</li>
    </ul>
}
