@model UserDataLib.Models.Operations

@{
    ViewBag.Title = "AddOperation";
}

@using UserDataLib.Services;
@using UserDataLib.Models;
@using MarketPlace.Models;

<h2>Details</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>User</h4>
        @Html.HiddenFor(model => model.Id)

        <b>
            @Html.DisplayNameFor(model => model.OperationsList)
        </b>
        <br>

        <div class="form-group">
            <div class="col-md-10">
                @{
                    OperationManager om = new OperationManager(new ManagerContext());
                    List<Operation> list = om.DisplayOperation();
                    List<Operation> userOperations = new UserManager(new ManagerContext()).Find(Model.Id).Operations.ToList();

                    foreach (Operation oper in list)
                    {
                        bool exists = false;
                        foreach (Operation uoper in userOperations)
                        {
                            if (uoper.Name.Equals(oper.Name))
                            {
                                exists = true;
                                break;
                            }
                        }
                        if (!exists)
                        {
                            Model.OperationsList.Add(oper);
                        }
                    }
                }
                @Html.DropDownListFor(model => model.OperationId, new SelectList(Model.OperationsList, "id", "name"), "-- Please select an operation --")
                @Html.ValidationMessageFor(model => model.OperationId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Add operation" class="btn btn-default" />
            </div>
        </div>

    </div>
}
    <p>
        @Html.ActionLink("Back", "Details", new { id = Model.Id })
    </p>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
